# ESLint only ignores the repo root node_modules by default.
packages/**/node_modules/

# This file intentionally contains invalid syntax so results in a parse error.
packages/neutrino/test/fixtures/test-module/errorMiddleware.js
