packages/**/node_modules/
# Remove ignore of neutrinorc since ESLint ignores dotfiles by default
!.neutrinorc.js
# TODO: Fix lint errors in our tests and remove this line
packages/**/test/
# The templates have any lint errors fixed during project creation,
# since we don't know which ESLint preset the user will choose.
packages/create-project/commands/init/templates/
